.texto-header {
  color: blue;
  background-color: aquamarine;
}

#texto3 {
  color: red;
}

.borda {
  color: green;
  border: 10px solid blue;
}

.paragrafo {
  /* margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 15px; */
  margin: 30px 15px 20px 10px;
  padding: 10px;
}